.standard_icon {
  width: $size-9;
  height: $size-9;
}

.bubble_icon {
  background: $color-white;
  width: $size-13;
  height: $size-13;
  border-radius: $size-7;
  padding-top: 3px;


  .list_icon{
    width: 20px;
    height: 20px;
  }

  .supermarket_icon{
    width: 24px;
    height: 24px;
  }
}

.supermarket_icon{
  width: 11px;
  height: $size-9;
}


//Dropdown Buttons
.dropdown_container {
  button {
    max-width: 14px;
    max-height: 14px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.horizontal_card, .card{
  button {
    margin: 0;
    max-width: $size-12;
    max-height: $size-12;
    svg {
      width: $size-12;
      height: $size-12;
    }
  }
}

.see_all__button, .see_less__button {
  display: flex;
  align-items: center;
  gap: $size-4;
  svg {
    width: $size-11;
    height: $size-11;
  }
}

.supermarket_toggle_add__button, .supermarket_toggle_close__button{
  width: 30px;
  height: 30px;
  svg {
    width: 100%;
    height: 100%;
  }
}
