// CARDS COMPONENTS

// Global Cards
.detailed_cards__category_container,
.cards__category_container {
  .product_image {
    display: block;
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }

  .cards__category_title {
    font-size: $font-size-7;
    margin: $size-9 0 $size-12 0;
  }
}

// Image Card
.cards__category_container {
  margin-bottom: $size-9;

  &:last-of-type {
    margin-bottom: 0;
  }

  .cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $size-2;

    .card {
      border: 2px solid $color-grey-3;
      border-radius: $size-4;
      max-width: 250px;
      width: 100%;
      padding-top: $size-7;

      .product_image{
        border: 2px solid #EFEFEF;
      }


      .card_body {
        padding: $size-9 $size-7;

        .card_title {
          text-overflow: ellipsis;
        }

        .price_button_container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          
          button {
            margin: 0;
            max-width: $size-12;
            max-height: $size-12;
            svg {
              width: $size-12;
              height: $size-12;
            }
          }
        }

        .supermarket_logo{
          display: flex;
          img{
            width: $size-8;
            height: $size-8;
          }
        }
      }
    }
  }
}

// Detailed Card
.detailed_card {
  display: flex;

  .detailed_card__image_container {
    width: 115px;
    height: $size-25;
    margin-right: $size-1;
  }

  .detailed_card__details_container {
    flex: 1;
    padding-top: $size-1;
  }

  button {
    margin: $size-11 0;
    width: $size-12;
    height: $size-12;
  }
}

.detailed_card_hr {
  margin: $size-5 0;
}
