// CARDS COMPONENTS

// Global
.product_image {
  display: block;
  height: auto;
  object-fit: contain;
}

.cards__category_title__button__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .cards__category_title {
    font-size: $font-size-7;
    margin: $size-9 0 $size-12 0;
  }

  a{
    height: auto;
  }
}

.price_button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Horizontal Cards
.horizontal_card_container {
  margin-bottom: 31px;
  .horizontal_card {
    display: flex;

    .product_image {
      width: 117px;
      margin-right: 22px;
    }

    .card_body {
      width: 158px;

      .price_button_container {
        margin: 22px 0;
      }

      .supermarket_logo {
        display: flex;

        .content {
          display: flex;
          align-items: center;
          gap: 4px;

          img {
            width: 100%;
            height: 100%;
            max-width: $size-8;
            max-height: $size-8;
            height: auto;
            object-fit: cover;
          }
        }
      }
    }
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

// Cards
.cards__category_container {
  margin-bottom: $size-9;

  &:last-of-type {
    margin-bottom: 0;
  }

  .cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $size-2;

    .card {
      border: 2px solid $color-grey-3;
      border-radius: $size-4;
      max-width: 250px;
      width: 100%;
      padding-top: $size-7;

      .product_image {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid #efefef;
      }

      .card_body {
        padding: $size-9 $size-7;

        .card_title {
          text-overflow: ellipsis;
        }

        .supermarket_logo {
          display: flex;
          img {
            width: $size-8;
            height: $size-8;
          }
        }
      }
    }
  }
}
