.cards__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: $size-4;

  .card {
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: $size-4;
    max-width: $size-32;

    .card__image_button_container {
      position: relative;
      width: $size-32;
      height: $size-28;

      img {
        width: 100%;
        height: 100%;
      }

      button {
        position: absolute;
        bottom: 0;
        right: 0;
        width: $size-12;
        height: $size-12;
      }
    }

    .card__title {
      padding: 13px 0 13px 8px;
      word-wrap: break-word;
    }
  }
}
