.carousel__container{
  display: flex;
  justify-content: space-between;
  gap: $size-4;
  margin-bottom: $size-10;

  .carousel{
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
    background-color: $color-green-1;
    border-radius: $size-4;
    width: 78px;
    height: 78px;

    img{
      width: $size-15;
      height: $size-15;
    }
  }
}