.carousel__container {
  display: flex;
  justify-content: space-between;
  padding: $size-7 0 $size-7 0;
  width: 100%;
  max-width: 1030px;


  .carousel {
    width: 91px;
    height: 100px;

     &.not-selected{
      opacity:0.6;
    }

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
}

.no_supermarket_selected{
  color: $color-grey-1;
  text-align: center;
  margin-top: 200px;
}
