@use "../global/global";

.top_container {
  display: block;
  content: " ";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-image: url("/src/assets/global/background-image.png");
  border-radius: 0 0 0 global.$size-19;
  position: relative;

  .navigation {
    padding: global.$size-10 global.$size-11 global.$size-10 global.$size-19;
    display: flex;
    justify-content: space-between;
  }
}
