.top_container {
  display: block;
  content: " ";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-image: url("/src/assets/global/background-image.png");
  border-radius: 0 0 0 $size-19;
  position: relative;

  .navigation {
    padding: $size-10 $size-11 $size-10 $size-19;
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    width: 100%;
  }
}
