

.search_button {
  color: $color-grey-1;
}

.searchInput {
  background: $color-white url("/icons/supermarkets/assets/search.svg") no-repeat $size-2;
  background-size: $size-7;
  border-radius: $size-7;
  text-align: left;
  padding-left: $size-15;
  width: 230px;
  height: $size-13;

  &:focus::placeholder {
    color: transparent;
  }
}
