.shopping_list_content {
  width: 100%;
  .shopping_list_delete_button {
    margin: $size-12 0 $size-7 auto;
  }
  .layout_style {
    .shopping_list__delete {
      background-color: white;
      padding: $size-1 $size-6;
      border: 2px solid $color-green-3;
      border-radius: $size-7;
    }
    .check_list {
      display: flex;
      justify-content: center;
      align-content: center;
    }
  }

  .supermarket_section {
    margin-bottom: $size-17;

    &:last-child {
      margin-bottom: 0;
    }

    .supermarket_section_toggle {
      display: flex;
      align-items: center;
      gap: $size-1;
      .supermarket-logo {
        width: 60px;
      }
    }

    .horizontal_card__shopping_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: $size-7;

      section {
        flex: 1 calc(50% - $size-2);
        max-width: 500px;
        box-sizing: border-box;
        border: 2px solid $color-grey-3;
        border-radius: $size-12;
        padding: $size-12 $size-7;

        .horizontal_card {
          width: 100%;
          .card_body {
            width: 80%;
          }
        }
        .supermarket_logo {
          display: flex;
          align-items: center;
          gap: $size-1;
          margin: 18px 0 0 18px;
          .supermarket-logo {
            width: 30px;
          }
        }

        @media (max-width: 768px) {
          flex: 1 1 100%;
          max-width: 100%;
        }
      }
    }
  }
}
