.title_and_delete{
  display: flex;
  justify-content: space-between;

  button{
    background-color: $color-white;
    padding: 4px $size-1;
    border-radius: $size-7;
    font-size: 14px;
    color: $color-dark-green;
    font-weight: 500;
  }
}

.check_list{
  display: flex;
  justify-content: center;
  align-content: center;
}