// Colours
$color-green-1: #EBF2E7;
$color-dark-green: #313d27;
$color-light-green: #616b5a;

//sizes
$size-1: 0.5rem; //8
$size-2: 0.625rem; //10
$size-3: 0.75rem; //12
$size-4: 0.875rem; //14
$size-5: 1rem; //16
$size-6: 1.125rem; //18
$size-7: 1.25rem; //20
$size-8: 1.375rem; //22
$size-9: 1.5rem; //24
$size-10: 1.625rem; //26
$size-11: 1.75rem; //28
$size-12: 1.875rem; //30
$size-13: 2.25rem; //36
$size-14: 2.5rem; //40
$size-15: 2.75rem; //44
$size-16: 3rem; //48
$size-17: 3.125rem; //50
$size-18: 3.5rem; //56
$size-19: 4rem; //64
$size-20: 4.25rem; //68
$size-21: 4.5rem; //72
$size-22: 4.625rem; //74
$size-23: 4.75rem; //76
$size-24: 5rem; //80
$size-25: 5.375rem; //86
$size-26: 5.625rem; //90
$size-27: 6.25rem; //100
$size-28: 7.375rem; //118
$size-29: 8.438rem; //134
$size-30: 9.375rem; //150
$size-31: 9.5rem; //152
$size-32: 10rem; //160
$size-33: 10.125rem; //162

// remove button and input stylings
button, input[type="search"], input[type="reset"] {
	background: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button {
	border: none;
	padding: 0;
	margin: 0;
}

svg, svg use{
	padding: 0;
	width: 100%;
	height: 100%;
}
