.layout_style {
  margin-right: 7.813rem;
}

body {
  height: 100%;
  margin: 0;
}

.page_container {
  display: flex;

  .content {
    flex: 1;
  }
}

.products__body{
  margin-top: $size-12;
  margin-bottom: $size-28;
}
