.layout_style {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 500px) {
    margin-right: 7.813rem;
    max-width: 1030px;
  }
}

body {
  height: 100%;
  margin: 0;
}

.page_container {
  @media screen and (min-width: 500px) {
    display: flex;

    .content {
      flex: 1;
    }
  }
}

.products__body {
  margin-top: $size-12;
  margin-bottom: $size-28;
}
